In [414]:
#import modules needed to interact with the data
import pandas as pd

In [415]:
#Get the file with the data you will interact with
orginfile = 'Resources/purchase_data.csv'
data = pd.read_csv(orginfile)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [416]:
#count the Toltal number of players
data1 = data.loc[:,['SN','Gender','Age']]
data1 = data1.drop_duplicates()
data1_ct = data1['SN'].count()
TotalPlayer_dictls = [{'Total Players': data1_ct}]
Player = pd.DataFrame(TotalPlayer_dictls)
Player

   Total Players
0            576

In [417]:
unique_items = len(data['Item ID'].unique())
avg_price = data['Price'].mean()
num_purchases = data['Price'].count()
total_rev = avg_price*num_purchases
df = pd.DataFrame({'Number of Unique Items': [unique_items],'Average Price': [avg_price], 'Number of Purchases': [num_purchases], 'Total Revenues': [total_rev]})
df = df[['Number of Unique Items','Average Price','Number of Purchases','Total Revenues']]
df =df.round(2)
df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenues
0                     179           3.05                  780         2379.77

In [418]:
#Gender Demographics
genderct = data1['Gender'].value_counts()
gender_dictls = genderct/TotalP*100
genderct
gender_dictls = gender_dictls.round(2) 
variable = pd.DataFrame({'Number of Players': genderct, 'Percentage of Players': gender_dictls})
variable

                       Number of Players  Percentage of Players
Male                                 484                  62.05
Female                                81                  10.38
Other / Non-Disclosed                 11                   1.41

In [419]:
pc = data.groupby(['Gender']).count()['Price']
app = data.groupby(['Gender']).mean()['Price']
tpp =data.groupby(['Gender']).sum()['Price']
nt = tpp/genderct

summary_df = pd.DataFrame({'Purchase Count': pc,'Average Purchase Price': app, 'Total Purchase Price': tpp,'Normalized Total': nt})
summary_df = summary_df[['Purchase Count','Average Purchase Price','Total Purchase Price','Normalized Total']]
summary_df = summary_df.round(2)
summary_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Normalized Total
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [420]:
agemin = data['Age'].min()
agemax = data['Age'].max()

In [428]:
bins = [0, 10, 20, 30, 40, 50]
bin_names = ['<10','10-19','20-29','30-39','40-49']
data2 = data1.loc[:,['Age','SN']]
data2['Age Group'] = pd.cut(data2['Age'], bins, labels=bin_names)
age_demo = data2['Age Group'].value_counts()
percent_age = age_demo/data1_ct*100
percent_age = percent_age.round(2)
Age_df = pd.DataFrame({'Age Catagory':age_demo,'Percentage': percent_age })
Age_df

       Age Catagory  Percentage
20-29           291       50.52
10-19           191       33.16
30-39            63       10.94
<10              24        4.17
40-49             7        1.22

In [422]:
item_popul = data.groupby(data['SN'])
#item_id.head()
unique_items = item_popul['SN'].unique().str[0]
item_purchase_count = item_popul['Age'].count()
item_price = item_popul['Price'].mean()
item_purchase_total = item_popul['Price'].sum()

item_summary =pd.DataFrame({'SN':unique_items,
                'Avg Item Price':item_price,
                'Purchase Count':item_purchase_count,
                'Total Purchase':item_purchase_total})


item_summary = item_summary.sort_values('Purchase Count', ascending=False)
item_summarydf = item_summary[['Purchase Count','Avg Item Price','Total Purchase']]
item_summarydf.round(2)
sor_df = item_summarydf.sort_values(by=['Total Purchase'],ascending=False)
sor_df.head(5)

             Purchase Count  Avg Item Price  Total Purchase
SN
Lisosia93                 5        3.792000           18.96
Idastidru52               4        3.862500           15.45
Chamjask73                3        4.610000           13.83
Iral74                    4        3.405000           13.62
Iskadarya95               3        4.366667           13.10

In [423]:
item_popul = data.groupby(data['Item ID'])
#item_id.head()
unique_items = item_popul['Item ID'].unique().str[0]
item_name = item_popul['Item Name'].unique().str[0]
item_purchase_count = item_popul['Age'].count()
item_price = item_popul['Price'].unique().str[0]
item_purchase_total = item_popul['Price'].sum()

item_summary =pd.DataFrame({'Item ID':unique_items,
'Item Name':item_name,
                'Item Price':item_price,
                'Purchase Count':item_purchase_count,
                'Total Purchase':item_purchase_total})


item_summary = item_summary.sort_values('Purchase Count', ascending=False)
item_summarydf = item_summary[['Item Name','Purchase Count','Item Price','Total Purchase']]
item_summarydf.round(2)
sor_df = item_summarydf.sort_values(by=['Purchase Count'],ascending=False)
sor_df.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase
Item ID,,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.19,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [424]:
mostprofit=item_summary.sort_values('Purchase Count', ascending=False)
mostprofit.head()

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase
Item ID,,,,,
92,92,Final Critic,4.88,13,59.99
178,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,145,Fiery Glass Crusader,4.58,9,41.22
132,132,Persuasion,3.19,9,28.99
108,108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77

In [425]:
mostprofit=item_summary.sort_values('Total Purchase', ascending=False)
mostprofit.head()

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase
Item ID,,,,,
92,92,Final Critic,4.88,13,59.99
178,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,82,Nirvana,4.90,9,44.10
145,145,Fiery Glass Crusader,4.58,9,41.22
103,103,Singed Scalpel,4.35,8,34.80

In [426]:
ty = data[['Price', 'Item Name']]
ty = ty.drop_duplicates()
hg = ty.sort_values('Price', ascending=False)
hg.head(5)

     Price                          Item Name
189   4.99                     Stormfury Mace
110   4.94            Mercy, Katana of Dismay
275   4.93                Stormfury Longsword
290   4.93  Hellreaver, Heirloom of Inception
284   4.91      Blazeguard, Reach of Eternity