In [40]:
#Cleaning Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from scipy.stats import linregress
import datetime

#Dependencies added to create the connection between Python and the Postgres Database 
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker
import psycopg2

In [41]:
#Reading in Movies CSV files
movies_meta_path = "ImportData/movies_metadata.csv"
movies_meta_df = pd.read_csv(movies_meta_path)

movies_updated_path= "ImportData/MoviesOnStreamingPlatforms_updated.csv"
movies_streaming_df = pd.read_csv(movies_updated_path)

In [42]:
#Convert the release_date to datetime so we can use the datetime import
movies_meta_df['release_date'] = pd.to_datetime(movies_meta_df['release_date'], errors='coerce' )

In [43]:
movies_meta_df.dtypes

adult                            object
belongs_to_collection            object
budget                           object
genres                           object
homepage                         object
id                               object
imdb_id                          object
original_language                object
original_title                   object
overview                         object
popularity                       object
poster_path                      object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
video                            object
vote_average                    float64
vote_count                      float64
dtype: object

In [44]:
#Extracting the year from the release_date
movies_meta_df['Year'] = movies_meta_df['release_date'].dt.strftime('%Y')

#Droping unecessary columns from movies_meta_df
movies_meta_df = movies_meta_df.drop(columns = ['production_countries', 'release_date', 'revenue', 'spoken_languages', 'status', 'tagline', 'video'])

movies_meta_df = movies_meta_df.rename(columns={'title': 'Title'})

#Examining the movies_meta_df
movies_meta_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,runtime,Title,vote_average,vote_count,Year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,Toy Story,7.7,5415.0,1995
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,Jumanji,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,Grumpier Old Men,6.5,92.0,1995
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,127.0,Waiting to Exhale,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,Father of the Bride Part II,5.7,173.0,1995

In [45]:
# Drop Movies that do not have a year entry in meta_df
movies_meta_df.dropna(subset = ["Year"], inplace=True)

In [46]:
#Droping unecessary columns from movies_streaming_df
movies_streaming_df = movies_streaming_df.drop(columns = ['Unnamed: 0', 'Type', 'Directors', 'Country', 'Language', 'Runtime'])

In [47]:
movies_meta_df.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
runtime                  float64
Title                     object
vote_average             float64
vote_count               float64
Year                      object
dtype: object

In [48]:
movies_streaming_df.dtypes

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
Genres              object
dtype: object

In [49]:
#Converting the Year column to integer type
movies_meta_df['Year'] = movies_meta_df.Year.astype(int)

In [50]:
#Combining the 2 data sets
movies_merged_df = pd.merge(movies_streaming_df, movies_meta_df,  how='left', left_on=['Title','Year'], right_on = ['Title','Year'])

In [51]:
movies_merged_df.to_csv("movies_merged_df.csv")

In [52]:
#There are (27) different genres: Action, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy (10) #Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance (10) #Sci-Fi, Short, Sport, Talk-Show, Thriller, War, Western (7)
search = 'Action'
movies_merged_df["Findall(action)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Adventure'
movies_merged_df["Findall(adventure)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Animation'
movies_merged_df["Findall(animation)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Biography'
movies_merged_df["Findall(biography)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Comedy'
movies_merged_df["Findall(comedy)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Crime'
movies_merged_df["Findall(crime)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Documentary'
movies_merged_df["Findall(documentary)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Drama'
movies_merged_df["Findall(drama)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Family'
movies_merged_df["Findall(family)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Fantasy'
movies_merged_df["Findall(fantasy)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Film-Noir'
movies_merged_df["Findall(film-noir)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Game-Show'
movies_merged_df["Findall(game-show)"] = movies_merged_df["Genres"].str.findall(search)
search = 'History'
movies_merged_df["Findall(history)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Horror'
movies_merged_df["Findall(horror)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Music'
movies_merged_df["Findall(music)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Musical'
movies_merged_df["Findall(musical)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Mystery'
movies_merged_df["Findall(mystery)"] = movies_merged_df["Genres"].str.findall(search)
search = 'News'
movies_merged_df["Findall(news)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Reality-TV'
movies_merged_df["Findall(reality-tv)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Romance'
movies_merged_df["Findall(romance)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Sci-Fi'
movies_merged_df["Findall(sci-fi)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Short'
movies_merged_df["Findall(short)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Sport'
movies_merged_df["Findall(sport)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Talk-Show'
movies_merged_df["Findall(talk-show)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Thriller'
movies_merged_df["Findall(thriller)"] = movies_merged_df["Genres"].str.findall(search)
search = 'War'
movies_merged_df["Findall(war)"] = movies_merged_df["Genres"].str.findall(search)
search = 'Western'
movies_merged_df["Findall(western)"] = movies_merged_df["Genres"].str.findall(search)
movies_merged_df.head(25)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,...,Findall(news),Findall(reality-tv),Findall(romance),Findall(sci-fi),Findall(short),Findall(sport),Findall(talk-show),Findall(thriller),Findall(war),Findall(western)
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,...,[],[],[],[Sci-Fi],[],[],[],[Thriller],[],[]
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,...,[],[],[],[Sci-Fi],[],[],[],[],[],[]
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,...,[],[],[],[Sci-Fi],[],[],[],[],[],[]
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,...,[],[],[],[Sci-Fi],[],[],[],[],[],[]
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,...,[],[],[],[],[],[],[],[],[],[Western]
5,6,Spider-Man: Into the Spider-Verse,2018,7+,8.4,97%,1,0,0,0,...,[],[],[],[Sci-Fi],[],[],[],[],[],[]
6,7,The Pianist,2002,18+,8.5,95%,1,0,1,0,...,[],[],[],[],[],[],[],[],[War],[]
7,8,Django Unchained,2012,18+,8.4,87%,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[Western]
8,9,Raiders of the Lost Ark,1981,7+,8.4,95%,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
9,10,Inglourious Basterds,2009,18+,8.3,89%,1,0,0,0,...,[],[],[],[],[],[],[],[],[War],[]
10,11,Taxi Driver,1976,18+,8.3,95%,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
11,12,3 Idiots,2009,13+,8.4,100%,1,0,1,0,...,[],[],[],[],[],[],[],[],[],[]
12,13,Pan's Labyrinth,2006,18+,8.2,95%,1,0,0,0,...,[],[],[],[],[],[],[],[],[War],[]
13,14,Room,2015,18+,8.1,93%,1,0,0,0,...,[],[],[],[],[],[],[],[Thriller],[],[]
14,15,Monty Python and the Holy Grail,1975,7+,8.2,97%,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
15,16,Once Upon a Time in the West,1968,13+,8.5,95%,1,0,1,0,...,[],[],[],[],[],[],[],[],[],[Western]
16,17,Indiana Jones and the Last Crusade,1989,13+,8.2,88%,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
17,18,Groundhog Day,1993,7+,8.0,96%,1,0,0,0,...,[],[],[Romance],[],[],[],[],[],[],[]
18,19,The King's Speech,2010,18+,8.0,95%,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
19,20,Her,2013,18+,8.0,95%,1,0,0,0,...,[],[],[Romance],[Sci-Fi],[],[],[],[],[],[]
20,21,There Will Be Blood,2007,18+,8.2,91%,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
21,22,The Social Network,2010,13+,7.7,96%,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
22,23,Dallas Buyers Club,2013,18+,8.0,93%,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
23,24,The Perks of Being a Wallflower,2012,13+,8.0,86%,1,0,0,0,...,[],[],[Romance],[],[],[],[],[],[],[]
24,25,Life of Brian,1979,18+,8.1,95%,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]

In [53]:
#Changing Column Headings
movies_merged_df = movies_merged_df.rename(columns = {'Findall(action)':'action'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(adventure)':'adventure'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(animation)':'animation'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(biography)':'biography'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(comedy)':'comedy'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(crime)':'crime'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(documentary)':'documentary'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(drama)':'drama'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(family)':'family'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(fantasy)':'fantasy'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(film-noir)':'film-noir'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(game-show)':'game-show'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(history)':'history'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(horror)':'horror'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(music)':'music'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(musical)':'musical'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(mystery)':'mystery'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(news)':'news'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(reality-tv)':'reality-tv'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(romance)':'romance'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(sci-fi)':'sci-fi'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(short)':'short'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(sport)':'sport'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(talk-show)':'talk-show'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(thriller)':'thriller'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(war)':'war'})
movies_merged_df = movies_merged_df.rename(columns = {'Findall(western)':'western'})

In [54]:
#Changing columns to strings
movies_merged_df['action'] = movies_merged_df['action'].astype(str)
movies_merged_df['adventure'] = movies_merged_df['adventure'].astype(str)
movies_merged_df['animation'] = movies_merged_df['animation'].astype(str)
movies_merged_df['biography'] = movies_merged_df['biography'].astype(str)
movies_merged_df['comedy'] = movies_merged_df['comedy'].astype(str)
movies_merged_df['crime'] = movies_merged_df['crime'].astype(str)
movies_merged_df['documentary'] = movies_merged_df['documentary'].astype(str)
movies_merged_df['drama'] = movies_merged_df['drama'].astype(str)
movies_merged_df['family'] = movies_merged_df['family'].astype(str)
movies_merged_df['fantasy'] = movies_merged_df['fantasy'].astype(str)
movies_merged_df['film-noir'] = movies_merged_df['film-noir'].astype(str)
movies_merged_df['game-show'] = movies_merged_df['game-show'].astype(str)
movies_merged_df['history'] = movies_merged_df['history'].astype(str)
movies_merged_df['horror'] = movies_merged_df['horror'].astype(str)
movies_merged_df['music'] = movies_merged_df['music'].astype(str)
movies_merged_df['musical'] = movies_merged_df['musical'].astype(str)
movies_merged_df['mystery'] = movies_merged_df['mystery'].astype(str)
movies_merged_df['news'] = movies_merged_df['news'].astype(str)
movies_merged_df['reality-tv'] = movies_merged_df['reality-tv'].astype(str)
movies_merged_df['romance'] = movies_merged_df['romance'].astype(str)
movies_merged_df['sci-fi'] = movies_merged_df['sci-fi'].astype(str)
movies_merged_df['short'] = movies_merged_df['short'].astype(str)
movies_merged_df['sport'] = movies_merged_df['sport'].astype(str)
movies_merged_df['talk-show'] = movies_merged_df['talk-show'].astype(str)
movies_merged_df['thriller'] = movies_merged_df['thriller'].astype(str)
movies_merged_df['war'] = movies_merged_df['war'].astype(str)
movies_merged_df['western'] = movies_merged_df['western'].astype(str)

In [55]:
#Replacing genre names with 1 or 0
movies_merged_df['action'] = movies_merged_df['action'].replace("['Action']", 1)
movies_merged_df['action'] = movies_merged_df['action'].replace("[]", 0)
movies_merged_df['adventure'] = movies_merged_df['adventure'].replace("['Adventure']", 1)
movies_merged_df['adventure'] = movies_merged_df['adventure'].replace("[]", 0)
movies_merged_df['animation'] = movies_merged_df['animation'].replace("['Animation']", 1)
movies_merged_df['animation'] = movies_merged_df['animation'].replace("[]", 0)
movies_merged_df['biography'] = movies_merged_df['biography'].replace("['Biography']", 1)
movies_merged_df['biography'] = movies_merged_df['biography'].replace("[]", 0)
movies_merged_df['comedy'] = movies_merged_df['comedy'].replace("['Comedy']", 1)
movies_merged_df['comedy'] = movies_merged_df['comedy'].replace("[]", 0)
movies_merged_df['crime'] = movies_merged_df['crime'].replace("['Crime']", 1)
movies_merged_df['crime'] = movies_merged_df['crime'].replace("[]", 0)
movies_merged_df['documentary'] = movies_merged_df['documentary'].replace("['Documentary']", 1)
movies_merged_df['documentary'] = movies_merged_df['documentary'].replace("[]", 0)
movies_merged_df['drama'] = movies_merged_df['drama'].replace("['Drama']", 1)
movies_merged_df['drama'] = movies_merged_df['drama'].replace("[]", 0)
movies_merged_df['family'] = movies_merged_df['family'].replace("['Family']", 1)
movies_merged_df['family'] = movies_merged_df['family'].replace("[]", 0)
movies_merged_df['fantasy'] = movies_merged_df['fantasy'].replace("['Fantasy']", 1)
movies_merged_df['fantasy'] = movies_merged_df['fantasy'].replace("[]", 0)
movies_merged_df['film-noir'] = movies_merged_df['film-noir'].replace("['Film-Noir']", 1)
movies_merged_df['film-noir'] = movies_merged_df['film-noir'].replace("[]", 0)
movies_merged_df['game-show'] = movies_merged_df['game-show'].replace("['Game-Show']", 1)
movies_merged_df['game-show'] = movies_merged_df['game-show'].replace("[]", 0)
movies_merged_df['history'] = movies_merged_df['history'].replace("['History']", 1)
movies_merged_df['history'] = movies_merged_df['history'].replace("[]", 0)
movies_merged_df['horror'] = movies_merged_df['horror'].replace("['Horror']", 1)
movies_merged_df['horror'] = movies_merged_df['horror'].replace("[]", 0)
movies_merged_df['music'] = movies_merged_df['music'].replace("['Music']", 1)
movies_merged_df['music'] = movies_merged_df['music'].replace("[]", 0)
movies_merged_df['musical'] = movies_merged_df['musical'].replace("['Musical']", 1)
movies_merged_df['musical'] = movies_merged_df['musical'].replace("[]", 0)
movies_merged_df['mystery'] = movies_merged_df['mystery'].replace("['Mystery']", 1)
movies_merged_df['mystery'] = movies_merged_df['mystery'].replace("[]", 0)
movies_merged_df['news'] = movies_merged_df['news'].replace("['News']", 1)
movies_merged_df['news'] = movies_merged_df['news'].replace("[]", 0)
movies_merged_df['reality-tv'] = movies_merged_df['reality-tv'].replace("['Reality-TV']", 1)
movies_merged_df['reality-tv'] = movies_merged_df['reality-tv'].replace("[]", 0)
movies_merged_df['romance'] = movies_merged_df['romance'].replace("['Romance']", 1)
movies_merged_df['romance'] = movies_merged_df['romance'].replace("[]", 0)
movies_merged_df['sci-fi'] = movies_merged_df['sci-fi'].replace("['Sci-Fi']", 1)
movies_merged_df['sci-fi'] = movies_merged_df['sci-fi'].replace("[]", 0)
movies_merged_df['short'] = movies_merged_df['short'].replace("['Short']", 1)
movies_merged_df['short'] = movies_merged_df['short'].replace("[]", 0)
movies_merged_df['sport'] = movies_merged_df['sport'].replace("['Sport']", 1)
movies_merged_df['sport'] = movies_merged_df['sport'].replace("[]", 0)
movies_merged_df['talk-show'] = movies_merged_df['talk-show'].replace("['Talk-Show']", 1)
movies_merged_df['talk-show'] = movies_merged_df['talk-show'].replace("[]", 0)
movies_merged_df['thriller'] = movies_merged_df['thriller'].replace("['Thriller']", 1)
movies_merged_df['thriller'] = movies_merged_df['thriller'].replace("[]", 0)
movies_merged_df['war'] = movies_merged_df['war'].replace("['War']", 1)
movies_merged_df['war'] = movies_merged_df['war'].replace("[]", 0)
movies_merged_df['western'] = movies_merged_df['western'].replace("['Western']", 1)
movies_merged_df['western'] = movies_merged_df['western'].replace("[]", 0)

In [56]:
movies_merged_df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,...,news,reality-tv,romance,sci-fi,short,sport,talk-show,thriller,war,western
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16756,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16757,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
16758,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16759,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16760,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

In [57]:
#Creating dataframes for import to postgres
imdb_df = movies_merged_df.drop(columns = ['adult','Age','belongs_to_collection','budget','genres','homepage','original_language','original_title','overview','popularity','poster_path','production_companies','runtime','Title','vote_average','vote_count','Year','IMDb','Netflix','Hulu','Prime Video','Disney+','Genres','Rotten Tomatoes','id','action','adventure','animation','biography','comedy','crime','documentary','drama','family'
,'fantasy','film-noir','game-show','history','horror','music','musical','mystery'
,'news','reality-tv','romance','sci-fi','short','sport','talk-show','thriller','war','western'])
rotten_tomatoes_df = movies_merged_df.drop(columns = ['Title','Year','Age','IMDb','Netflix','Hulu','Prime Video','Disney+','Genres','adult','belongs_to_collection','budget','homepage','original_language','imdb_id','overview','genres','popularity','poster_path','production_companies','runtime','Title','vote_average','vote_count','id','Netflix','Hulu','Prime Video','Disney+','Genres','original_title','id','action','adventure','animation','biography','comedy','crime','documentary','drama','family'
,'fantasy','film-noir','game-show','history','horror','music','musical','mystery'
,'news','reality-tv','romance','sci-fi','short','sport','talk-show','thriller','war','western'])
moviesMeta_df = movies_merged_df.drop(columns = ['adult','belongs_to_collection','budget','homepage','original_language','imdb_id','overview','genres','popularity','poster_path','production_companies','runtime','Title','vote_average','vote_count','Netflix','Hulu','Prime Video','Disney+','Age','IMDb','Rotten Tomatoes','id','action','adventure','animation','biography','comedy','crime','documentary','drama','family'
,'fantasy','film-noir','game-show','history','horror','music','musical','mystery'
,'news','reality-tv','romance','sci-fi','short','sport','talk-show','thriller','war','western'])
movies_table_df = movies_merged_df.drop(columns = ['adult','belongs_to_collection','budget','genres','Genres','homepage','original_language','imdb_id','overview','popularity','poster_path','production_companies','runtime','Title','vote_average','vote_count','Netflix','Hulu','Prime Video','Disney+','Age','IMDb','Rotten Tomatoes','id','action','adventure','animation','biography','comedy','crime','documentary','drama','family'
,'fantasy','film-noir','game-show','history','horror','music','musical','mystery'
,'news','reality-tv','romance','sci-fi','short','sport','talk-show','thriller','war','western'])
stream_movie_df = movies_merged_df.drop(columns = ['Title','Year','Age','IMDb','Disney+','Genres','Rotten Tomatoes','adult','belongs_to_collection','budget','genres','homepage','original_language','original_title','overview','popularity','poster_path','production_companies','runtime','vote_average','vote_count','imdb_id','Year','id','action','adventure','animation','biography','comedy','crime','documentary','drama','family'
,'fantasy','film-noir','game-show','history','horror','music','musical','mystery'
,'news','reality-tv','romance','sci-fi','short','sport','talk-show','thriller','war','western'])
genres_df = movies_merged_df.drop(columns = ['Title','Year','Age','IMDb','Disney+','Genres','Rotten Tomatoes','adult','belongs_to_collection','budget','genres','homepage','original_language','original_title','overview','popularity','poster_path','production_companies','runtime','vote_average','vote_count','imdb_id','Year','Netflix','Hulu','Prime Video','Disney+','id'])

#'Findall(action)','Findall(adventure)','Findall(animation)','Findall(biography)','Findall(comedy)','Findall(crime)','Findall(documentary)','Findall(drama)','Findall(family)','Findall(fantasy)','Findall(film-noir)','Findall(game-show)','Findall(history)','Findall(horror)','Findall(music)','Findall(musical)','Findall(mystery)','Findall(news)','Findall(reality-tv)','Findall(romance)','Findall(sci-fi)','Findall(short)','Findall(sport)','Findall(talk-show)','Findall(thriller)','Findall(war)','Findall(western)'

#,'action','adventure','animation','biography','comedy','crime','documentary','drama','family','fantasy','film-noir','game-show','history','horror','music','musical','mystery','news','reality-tv','romance','sci-fi','short','sport','talk-show','thriller','war','western'

In [58]:
#Code to connect to  postgres database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/movie-database")
conn = engine.connect()
print(engine.table_names())

[]

In [59]:
#Code to create a table for the movies_merged_df from the cleaned dataframe above and send to the postgres database
MMT = 'movies_merged'
movies_merged_df.to_sql(MMT, conn)

In [60]:
#Code to create a table for the movies_streaming_df from the cleaned dataframe above and send to the postgres database
SMT = 'movies_streaming'
movies_streaming_df.to_sql(SMT, conn)

In [61]:
#Code to create a table for the imdb_df from the cleaned dataframe above and send to the postgres database
imdbT = 'imdb'
imdb_df.to_sql(imdbT, conn)

In [62]:
#Code to create a table for the rotten_tomatoes_df from the cleaned dataframe above and send to the postgres database
RTT = 'rotten_tomatoes'
rotten_tomatoes_df.to_sql(RTT, conn)

In [63]:
#Code to create a table for the moviesMeta_df from the cleaned dataframe above and send to the postgres database
MMMT = 'movie_meta'
moviesMeta_df.to_sql(MMMT, conn)

In [64]:
#Code to create a table for the movies_table_df from the cleaned dataframe above and send to the postgres database
movies = 'movies'
movies_table_df.to_sql(movies, conn)

In [65]:
#Code to create a table for the stream_movie_df from the cleaned dataframe above and send to the postgres database
stream_movie = 'stream_movie'
stream_movie_df.to_sql(stream_movie, conn)

In [66]:
#Code to create a table for the genres_df from the cleaned dataframe above and send to the postgres database
GT = 'genres'
genres_df.to_sql(GT, conn)

In [67]:
#Run this cell when you are ready to close connection
##conn.close()